@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  --primary-color: #F7F7F7;
  --secondary-color: #D9E4F5;
  --body-bg: #D9E4F5;
  --card-01-bg: linear-gradient(#D9E4F5, #ffffff);
  --card-02-bg: linear-gradient(#D9E4F5, #ffffff);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: rgb(2, 2, 2);
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: var(--body-bg);
}

ul {
  list-style: none;
  background-color: var(--card-01-bg);
}

a {
  text-decoration: none;
  color: unset;
}

.main__layout {
  margin-left: 260px;
}

img {
  width: 100%;
}